apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-gitops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-gitops
  template:
    metadata:
      labels:
        app: nginx-gitops
    spec:
      containers:
        - name: nginx
          image: pareshku123/nginx-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
